@using Arcade.Models;
@model Game
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit Game</title>
</head>
<body id="wrap">
    <a href="/dashboardredirect/@ViewBag.ThisUser.userId">Dashboard</a>
    <form asp-action="update" asp-controller= "Arcade" method="POST">
<div class="form-group">
        <span asp-validation-for="Title"></span>
        <label asp-for="Title"></label>
        <input asp-for="Title">
    </div>
    <div class="form-group">
        <span asp-validation-for="Description"></span>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"name="Description" id="Description" cols="30" rows="10"></textarea>
    </div>
       <div class="form-group">
        <label asp-for="Image"></label>
        <input asp-for="Image"/>        
    </div>
    <input type="hidden" asp-for="UserId" value="@ViewBag.ThisUser.userId">

    <input type="submit" value="Edit">
</form> 
</body>
</html>