<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>New Game!</title>
</head>
<body id="wrap">
    <h1>Successfully Created Game!</h1>

<a href="/dashboardredirect/@ViewBag.ThisUser.userId">Dashboard</a>


<a href="/">Logout</a>

</body>